 .flip-card {
    background: transparent;
    width: 100%;
    height: 250px;
    perspective: 1000px; /* Tạo hiệu ứng 3D cho lật thẻ */
}

#flashcard .controls { 
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: -10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;  
    transform-style: preserve-3d;
    cursor: pointer;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;  
    border-radius: 15px; 
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-hint {
    margin-top: 10px;
    color: #999;
    font-size: 1.1em;
}

#flashcard-display-mode,
#quiz-display-mode {
    background: rgba(255, 255, 255, 0.95);
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    color: #333;
    width: 100%;
}